body		{ font-family: 'Courier New'; background: black; color: limegreen; }
div			{ position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }
span.red	{ color: red; }
span.white	{ color: white; }