body			{ font-family: 'Courier New'; background: black; color: green; }
div.container	{ position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }
span.red		{ color: red; }
span.limegreen	{ color: limegreen; }
span.white		{ color: white; }
.str1           { overflow: hidden; animation: showDiv 1s forwards; max-height: 0; }
.str2			{ overflow: hidden; animation: showDiv 1.1s forwards; max-height: 0; }
.str3           { overflow: hidden; animation: showDiv 1.2s forwards; max-height: 0; }
.str4           { overflow: hidden; animation: showDiv 1.3s forwards; max-height: 0; }
.str5           { overflow: hidden; animation: showDiv 1.4s forwards; max-height: 0; }
.str6           { overflow: hidden; animation: showDiv 1.5s forwards; max-height: 0; }
.str7           { overflow: hidden; animation: showDiv 1.6s forwards; max-height: 0; }
.str8           { overflow: hidden; animation: showDiv 1.7s forwards; max-height: 0; }
.str9           { overflow: hidden; animation: showDiv 1.8s forwards; max-height: 0; }
.str10          { overflow: hidden; animation: showDiv 1.9s forwards; max-height: 0; }
.str11          { overflow: hidden; animation: showDiv 2s forwards; max-height: 0; }
.str12          { overflow: hidden; animation: showDiv 2.1s forwards; max-height: 0; }
.str13          { overflow: hidden; animation: showDiv 2.2s forwards; max-height: 0; }
.str14          { overflow: hidden; animation: showDiv 2.3s forwards; max-height: 0; }
.str15          { overflow: hidden; animation: showDiv 2.4s forwards; max-height: 0; }
.str16          { overflow: hidden; animation: showDiv 2.5s forwards; max-height: 0; }
.str17          { overflow: hidden; animation: showDiv 2.6s forwards; max-height: 0; }
.str18          { overflow: hidden; animation: showDiv 2.7s forwards; max-height: 0; }
.str19          { overflow: hidden; animation: showDiv 2.8s forwards; max-height: 0; }
.str20          { overflow: hidden; animation: showDiv 2.9s forwards; max-height: 0; }
.str21          { overflow: hidden; animation: showDiv 3s forwards; max-height: 0; }
.str22          { overflow: hidden; animation: showDiv 3.1s forwards; max-height: 0; }

@keyframes showDiv {
    0%,
    99% {
        max-height: 0;
    }
    100% {
        max-height: 999px;
    }
}

@font-face {
  font-family: 'Courier New';
  src: url('couriernew.ttf') format('truetype');
}